body {
  background-color: #ADD8E6;
}

div{
  display:flex;
  padding:110px;
  align-items:center;
  gap:20px;}

button{
  display:flex;
  padding:40px 50px;
  justify-content:center;
  box-shadow:2px 2px 2px 2px;
  font:"Ariel";
  font-weight: bold;  
}

img{
  display:flex;
  center:0;}


button:hover{
  background:"brown";}
