body {
  background-color: #ADD8E6;
}

div{
  display:flex;
  padding:200px;
  border:2px solid black;
  bottom:0px;
  align-items:center;}

button{
  display:flex;
  padding:40px 50px;
  justify-content:center;
  box-shadow:5px 10px 10px 20px;
  font:"Ariel";
}


button:hover{
  background-color:"C4A484";}
