body {
  background-color: #ADD8E6;
}

div{
  display:flex;
  padding:50px;
  bottom:50%;
  border:2px solid black;
  align-items:center;}

button{
  display:flex;
  justify-content:center;
  box-shadow:20px;
  width:200px;
  height:150px;
  font:"Ariel";
}

button:hover{
  background-color:"C4A484";}
